*{
    box-sizing: border-box;
}

div{
    /*Dando tamaño a las cajas y aplicando el display
    inline-block para que todos los rectangulos se coloquen
    en línea sin perder su forma*/
    margin: 10px;
    width: 240px;
    height: 100px;
    display: inline-block; 
    padding-left: 10px;
    padding-top: 10px;
}
.orange{
    background: #ffc107;
}

.black{
    background: black;
    color: white;
}
